Repository COS301-SE-2024/WhatsOn-UP, pull requests merged in 2024-06, with the labels that each got.

#66 Feat/profile component
  .gitignore
  src/Backend/.gitignore
  src/Backend/src/main/kotlin/com/devforce/backend/model/UserModel.kt
  src/Frontend/.gitignore
  src/Frontend/lib/main.dart
  src/Frontend/lib/pages/application_event.dart
  src/Frontend/lib/pages/editProfile_page.dart
  src/Frontend/lib/pages/home_page.dart
  src/Frontend/lib/pages/login_page.dart
  src/Frontend/lib/pages/profilePage.dart
  src/Frontend/lib/pages/settings_page.dart
  src/Frontend/lib/pages/signin_page.dart
  src/Frontend/lib/services/EditprofileServices.dart
  src/Frontend/lib/services/LoginServices.dart
  src/Frontend/pubspec.lock
  src/Frontend/pubspec.yaml
  src/Frontend/test/navigation_test.dart
Labels: Frontend, Integration

#76 Feature/intergration
  .github/workflows/ci-dev.yml
  .github/workflows/ci-main.yml
  .github/workflows/flutter.yml
  .github/workflows/springboot.yml
  src/Backend/Dockerfile
  src/Backend/src/main/kotlin/com/devforce/backend/controller/EventController.kt
  src/Backend/src/main/kotlin/com/devforce/backend/controller/UserController.kt
  src/Backend/src/main/kotlin/com/devforce/backend/dto/AllEventsDto.kt
  src/Backend/src/main/kotlin/com/devforce/backend/dto/CreateEventDto.kt
  src/Backend/src/main/kotlin/com/devforce/backend/dto/PartialUser.kt
  src/Backend/src/main/kotlin/com/devforce/backend/dto/ResponseDto.kt
  src/Backend/src/main/kotlin/com/devforce/backend/dto/UpdateUserDto.kt
  src/Backend/src/main/kotlin/com/devforce/backend/model/EventModel.kt
  src/Backend/src/main/kotlin/com/devforce/backend/model/UserModel.kt
  src/Backend/src/main/kotlin/com/devforce/backend/repo/EventRepo.kt
  src/Backend/src/main/kotlin/com/devforce/backend/security/CustomUserDetailsService.kt
  src/Backend/src/main/kotlin/com/devforce/backend/security/JwtGenerator.kt
  src/Backend/src/main/kotlin/com/devforce/backend/service/AuthService.kt
  src/Backend/src/main/kotlin/com/devforce/backend/service/CheckJwt.kt
  src/Backend/src/main/kotlin/com/devforce/backend/service/EventService.kt
  src/Backend/src/main/kotlin/com/devforce/backend/service/UserService.kt
Labels: Backend

#88 documentation
  README.md
  docs/SRS-document.md
Labels: documentation

#101 setup emulator , styling and more button
  src/Frontend/lib/pages/application_event.dart
  src/Frontend/lib/pages/calendar_page.dart
  src/Frontend/lib/pages/editProfile_page.dart
  src/Frontend/lib/pages/home_page.dart
  src/Frontend/lib/pages/login_page.dart
  src/Frontend/lib/pages/profilePage.dart
  src/Frontend/lib/pages/rsvp_events_page.dart
  src/Frontend/lib/pages/signin_page.dart
  src/Frontend/lib/services/api.dart
  src/Frontend/lib/widgets/event_card_RSVP.dart
  src/Frontend/lib/widgets/nav_bar.dart
  src/Frontend/pubspec.lock
  src/Frontend/pubspec.yaml
  src/MyApplication/.gitignore
  src/MyApplication/app/.gitignore
  src/MyApplication/app/build.gradle.kts
  src/MyApplication/app/proguard-rules.pro
  src/MyApplication/app/src/androidTest/java/com/example/myapplication/ExampleInstrumentedTest.kt
  src/MyApplication/app/src/main/AndroidManifest.xml
  src/MyApplication/app/src/main/java/com/example/myapplication/MainActivity.kt
  src/MyApplication/app/src/main/java/com/example/myapplication/ui/theme/Color.kt
  src/MyApplication/app/src/main/java/com/example/myapplication/ui/theme/Theme.kt
  src/MyApplication/app/src/main/java/com/example/myapplication/ui/theme/Type.kt
  src/MyApplication/app/src/main/res/drawable/ic_launcher_background.xml
  src/MyApplication/app/src/main/res/drawable/ic_launcher_foreground.xml
  src/MyApplication/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  src/MyApplication/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  src/MyApplication/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  src/MyApplication/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  src/MyApplication/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  src/MyApplication/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  src/MyApplication/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  src/MyApplication/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  src/MyApplication/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  src/MyApplication/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  src/MyApplication/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  src/MyApplication/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  src/MyApplication/app/src/main/res/values/colors.xml
  src/MyApplication/app/src/main/res/values/strings.xml
  src/MyApplication/app/src/main/res/values/themes.xml
  src/MyApplication/app/src/main/res/xml/backup_rules.xml
  src/MyApplication/app/src/main/res/xml/data_extraction_rules.xml
  src/MyApplication/app/src/test/java/com/example/myapplication/ExampleUnitTest.kt
  src/MyApplication/build.gradle.kts
  src/MyApplication/gradle.properties
  src/MyApplication/gradle/wrapper/gradle-wrapper.properties
  src/MyApplication/gradlew
  src/MyApplication/gradlew.bat
  src/MyApplication/settings.gradle.kts
Labels: Frontend
